/* DESKTOP MEDIA */

@media (min-width:768px){  
  .wallet-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .wallet {
    height: 200px;
    width: 1000px !important;
    position: absolute;
    top: 50px;
    left: 450px;
  }
  
  .income {
    height: 450px;
    border-radius: 10px;
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #159957, white);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #159957, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  .positive-balance {
    margin-top: 60px !important;
    height: 300px;
    border-radius: 10px;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, white, #302b63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, white, #302b63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    color: gold;
  }
  
  .positive-balance h1{
    margin-top: 20px;
  } 
  
  .expense {
    height: 450px;
    border-radius: 10px;
    background: #EB5757;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EB5757, white);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EB5757, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .logintitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    align-content: center;
  }
  
  .logout {
    position: absolute;
    left: 1800px;
    top: 50px;
  }
  
  .logout a {
    color: black;
  }
  
  .login {
    margin-top: 70px;
  }
  
  .loginTitle{
    margin-bottom: 30px;
  }
  
  .loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100% !important;
  }
  
  .loginform input {
    width: 450px !important;
  }
  
  .login {
    max-width: 35% !important;
  }
  
  .loginbutton button{
    margin-top: 20px;
    width: 150px;
  }
  
  .loginbutton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%
  }
  
  .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    padding: 5px;
    font-weight: bold;
  }
  
  .detail .date {
    font-size: 10px;
  }
  
  .detail .opButton{
    font-size: 10px;
    height: 30px;
    align-items: center;
    padding: 0 auto !important;
  }

  .piggy {
    width: 100px;
    height: 100px;
  }

  .logoutlogo {
    width: 30px;
    height: 30px;
  }
}

/* NEUTRAL MEDIA */

.link {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
}

nav .container{
  display: flex !important;
  justify-content: center !important;
}

/* MOBILE STYLE */

@media (max-width: 500px) { 
  .wallet-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .wallet {
    display: flex;
    flex-direction: column;
  }

  .wallet-division {
    width: 350px;
  }
  
  .newTransactionButton {
    font-size: 15px !important;
  }

  .income {
    height: 600px;
    border-radius: 10px;
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #159957, white);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #159957, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  .positive-balance {
    margin-top: 40px !important;
    height: 400px;
    border-radius: 10px;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, white, #302b63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, white, #302b63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    color: gold;
  }
  
  .positive-balance h1{
    margin-top: 20px;
    font-size: 18px;
  } 
  
  .expense {
    height: 600px;
    border-radius: 10px;
    background: #EB5757;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EB5757, white);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EB5757, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .logintitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    align-content: center;
    justify-content: center;
  }
  
 
  
  .login {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    width: 200px;
  }

  .formnewedit {
    width: 300px;
    font-size: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px !important;
    align-items: center;
  }
  
  .loginTitle{
    margin-bottom: 30px;
  }

  .loginTitle h2 {
    font-size: 20px;
  }
  
  .loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
  }
  
  .loginform input {
    width: 300px !important;
  }
  
  .loginbutton button{
    margin-top: 30px;
    width: 80px;
    font-size: 12px;
  }
  
  .loginbutton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    font-size: 10px;
    color: black;
    padding: 5px;
    font-weight: bold;
  }
  
  .detail .date {
    font-size: 10px;
  }

  .detailTitle {
    font-size: 12px;
  }

  .amount {
    font-size: 12px;
  }
  
  .detail .opButton{
    font-size: 8px;
    height: 15px;
    width: 35px ;
    font-weight: bold;
    align-items: center;
    padding: 0 auto !important;
    align-content: center;
    padding: 0 !important;
  }

  .piggy {
    width: 50px;
    height: 50px;
  }

  .logoutlogo {
    width: 20px;
    height: 20px;
  }

  .logout {
    position: absolute;
    left: 340px;
    top: 25px;
  }

  .logout h5 {
    font-size: 15px;
  }
  
  .logout a {
    color: black;
  }
}