.App {
  text-align: center;
}

nav .container{
  display: flex !important;
  justify-content: center !important;
}

.wallet-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.wallet p {
  color: white;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.wallet {
  height: 200px;
  width: 900px !important;
  position: absolute;
  top: 50px;
  left: 500px;
}

.income {
  height: 450px;
  border-radius: 10px;
  background: #159957;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, white, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, white, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.positive-balance {
  margin-top: 60px !important;
  height: 300px;
  border-radius: 10px;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, white, #302b63);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, white, #302b63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.negative-balance {
  height: 300px;
  background-color: grey;
  border-radius: 10px;
}

.expense {
  height: 450px;
  border-radius: 10px;
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, white, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, white, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logintitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  align-content: center;
  justify-content: center;
}

.title {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 700 !important;
  font-size: 48px;
  line-height: 62.11px;
}

.subtitle {
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px;
  line-height: 23.29px;
}

.login {
  margin-top: 70px;
}

.loginTitle{
  margin-bottom: 30px;
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100% !important;
}

.loginform input {
  width: 450px !important;
}

.login {
  max-width: 35% !important;
}

.loginbutton button{
  margin-top: 30px;
  width: 200px;
}